.cupClass{
 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	cursor: grab;
	height: 0;
	width: 40px;
   transition: all .3s;
	height: 100%;
}
.active{
	width: 35px;
	
}
@media (max-width:580px) {
	.cupClass{
		width: 30px;
	}
}