.winner{
   width: 100%;
   height: 100dvh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   .tilte{
      font-size: 32px;
      color: coral;

   }
.text{
   
   color:gray;
   .span{
      color: green;
   }
}
 
}
